body{
	background-color: #eef4f5;

}
.paragraphe{
	font-size: 1.3em;
	margin-top: 1em;
    margin-bottom: 1rem;
}
.etablissement{
	height: 25em;
}
.sous-titre {
	margin: 5%;
}
.titre {
	padding-top: 1%;
    margin-bottom: 2%;
    padding-bottom: 1%;
}
.titre h1 {
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.titre h1:hover {
	font-size: 3em;
}
.carte-formation h2{
	-webkit-transition: 0.5s;
	transition: 0.5s;
} 
.carte-formation h2:hover{
	font-size: 3em;
}
.carte-formation:hover{
	height: 100px;
}
.carte-formation{
	-webkit-transition: height 1s;
	transition: height 1s;
}

.main {
	background-color: #FFFFFF;

}
.photos {
	border: 5px solid #454140;
	margin: 3% 0 3% 0;

}

/* menu en column
.navbar-nav {
	display: block;
}
nav {
	width: 18%;
	float: left;
}
/* menu en column*/
.show a:hover {
	background-color: #d6d4e0;
}

.envoyer a{
	text-decoration: none;
	color: #FFFFFF;
}
.video {
	width: 100%;
	margin: auto;
}
.navbar{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 0.9rem;
	height: 10%;
}

.navbar a{ 
	-webkit-transition: 0.8s;
	transition: 0.8s;
	transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
}

.navbar a:hover {
	font-size: 1.3em;
}

.experiences{
	height: 168px;
}